/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

/* Using Float */
/* nav,main,aside {
  float: left;
  width: 10%;
}

main{
  width: 50%;
}

aside{
  width: 40%;
} */


/* Using Flex */

body{
  display: flex;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
