/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
height: 100px;
background: black;
color: white;
}

nav *{
  float: left;
  width: 10%;
  color: white;
  display: block;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
