/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header nav > *{
    float: left;
    width: 10%;
    margin: 0 5%;
    list-style: none;

}
header nav ul > li {
  float: left;
  width: 33%;
}

main > section{
  width: 50%;
  height: 600px;
  float: left;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
